<template>
  <div class="goods">
    <div class="menu-wrapper" ref="menu-wrapper">
      <ul class="menu-list">
        <li class="list-item border-1px J-list-item" @click="_selectMenu(index, $event)" v-for="(good, index) in goods" :class="{'current': currentIndex === index}">
          <div class="support-wrapper">
            <v-support supportType="support-4" :_type="good.type" :_name="good.name"></v-support>
          </div>
        </li>
      </ul>
    </div>
    <div class="goods-wrapper J-goods-wrapper" ref="goods-wrapper">
      <ul class="goods-list">
        <li class="goods-item J-goods-item" v-for="good in goods">
          <h2 class="goods-name" v-text="good.name"></h2>
          <ul class="food-list">
            <li class="food-item" v-for="item in good.foods" @click="clickFood(item, $event)">
              <div class="icon"><img :src="item.icon"/></div>
              <div class="content-wrapper">
                <h3 class="foods-name" v-text="item.name"></h3>
                <p class="description" v-show="item.description!=''" v-text="item.description"></p>
                <div class="sellStatus">
                  <span class="sellCount">月售{{ item.sellCount }}</span><span class="rating">好评率{{ item.rating }}%</span>
                </div>
                <div class="all-price">
                  &yen;<span class="price">{{ item.price }}</span><span v-show="item.oldPrice!=''" class="oldPrice">￥{{ item.oldPrice}}</span>
                </div>
              </div>
              <v-adder :foods="item" @cart-add="addFood"></v-adder>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <v-spec :food="currentFood" :foodShow="foodShow" ref="spec"></v-spec>
    <v-shopcart ref="shopcart" :selectFoods="selectFoods" :minPrice="seller.minPrice" :desc="seller.deliveryPrice" @cart-add="addFood"></v-shopcart>
  </div>
</template>

<script type="text/ecmascript-6">
  import support from '../../common/support/support'
  import BScroll from 'better-scroll'
  import shopcart from '../shopcart/shopcart'
  import adder from '../adder/adder'
  import spec from '../food/food.vue'

  const ERR_OK = 0

  export default {
    props: {
      seller: {
        type: Object
      }
    },
    data() {
      return {
        goods: [],
        listHeight: [],
        scrollY: 0,
        currentIndex: 0,
        count: 0,
        currentFood: {},
        foodShow: false
      }
    },
    created() {
      this.$http.get('api/goods').then((response) => {
        response = response.body
        if (response.errno === ERR_OK) {
          this.goods = response.data
          this.$nextTick(function() {
            this._calculateHeight()
            this._initScroll()
          })
        }
      })
    },
    methods: {
      clickFood(item, event) {
        if (event._constructed) {
          this.currentFood = item
          this.$refs.spec.show()
        }
      },
      _initScroll() {
        this.menuScroll = new BScroll(this.$refs['menu-wrapper'], {
          click: true
        })
        this.goodsScroll = new BScroll(this.$refs['goods-wrapper'], {
          probeType: 3,
          click: true
        })
        this.goodsScroll.on('scroll', (pos) => {
          this.scrollY = Math.abs(Math.round(pos.y))
        })
      },
      _calculateHeight() {
        let obj = this.$refs['goods-wrapper'].getElementsByClassName('J-goods-item')
        let len = 0
        for (let i = 0; i < obj.length; i++) {
          this.listHeight.push(len)
          len += obj[i].clientHeight
        }
        this.listHeight.push(len)
      },
      _selectMenu(index, event) {
        if (event._constructed) {
          this.goodsScroll.scrollTo(0, -this.listHeight[index], 200)
        }
      },
      addFood(target) {
        this.$nextTick(() => {
          this.$refs.shopcart.drop(target)
        })
      }
    },
    computed: {
      addCount() {
        return ++this.count
      },
      subCount() {
        return --this.count
      },
      selectFoods() {
        let foods = []
        this.goods.forEach((good) => {
          good.foods.forEach((food) => {
            if (food.count) {
              foods.push(food)
            }
          })
        })
        return foods
      }
    },
    components: {
      'v-support': support,
      'v-shopcart': shopcart,
      'v-adder': adder,
      'v-spec': spec
    },
    watch: {
      'scrollY': function() {
        for (let i = 0; i < this.listHeight.length; i++) {
          if (this.scrollY >= this.listHeight[i] && this.scrollY < this.listHeight[i + 1] || this.scrollY >= this.listHeight[i + 1] && i === this.listHeight.length) {
            this.currentIndex = i
          }
        }
      }
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"

  .goods
    display flex
    position absolute
    width 100%
    top 189px
    bottom 47px
    overflow hidden
    .menu-wrapper
      width 80px
      height 100%
      background-color #f3f5f7
      flex 0 0 80px
      .menu-list
        .list-item
          display table
          box-sizing border-box
          padding 0 12px
          height 54px
          width 100%
          border-1px(rgba(7,17,27,0.1))
          &.current
            position relative
            z-index 10
            margin-top -1px
            background-color #FFF
            font-weight 700
            .text:after
              border none
          .support-wrapper
            display table-cell
            vertical-align middle
    .goods-wrapper
      flex 1
      background-color #FFF
      .goods-list
        .goods-item
          .goods-name
            height 26px
            padding-left 14px
            border-left 2px solid #d9dde1
            font-size 12px
            line-height 26px
            color rgb(147, 153, 159)
            background-color #f3f5f7
          .food-list
            .food-item
              padding 18px
              border-1px(rgba(7,17,27,0.1))
              display flex
              &:last-child:after
                border: none
              .icon
                display inline-block
                width 57px
                height 57px
                flex 0 0 57px
                &>img
                  width 100%
                  height 100%
              .content-wrapper
                display inline-block
                vertical-align top
                margin-top 2px
                margin-left 10px
                flex 1
                .foods-name
                  line-height 14px
                  font-size 14px
                  color rgb(7,17,27)
                .description
                  margin-top 8px
                  line-height 20px
                  font-size 10px
                  color rgb(147,153,159)
                .sellStatus
                  margin-top 8px
                  font-size 10px
                  color rgb(147, 153, 159)
                  line-height 10px
                  .sellCount
                    margin-right 12px
                .all-price
                  margin-top 8px
                  color #F00
                  font-size 10px
                  line-height 24px
                  font-weight normal
                  .price
                    margin-right 8px
                    font-size 14px
                    font-weight 700
                  .oldPrice
                    color rgb(147,153,159)
                    text-decoration line-through

              &>.adder
                position absolute
                bottom 18px
                right 18px
                line-height 24px
</style>
