<template>
  <div class="star" :class="starType">
    <span class="star-item" v-for="itemClass in itemClasses" :class="itemClass"></span>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    props: {
      size: {
        type: Number
      },
      score: {
        type: Number
      }
    },
    data() {
      return {
        itemClasses: []
      }
    },
    computed: {
      starType() {
        return 'star-' + this.size
      }
    },
    methods: {
      calcStarNum() {
        let i = 0
        while (i++ < 5) {
          if (this.score - i > 0) {
            this.itemClasses.push('on')
          } else if (this.score - i < -0.5) {
            this.itemClasses.push('off')
          } else {
            this.itemClasses.push('half')
          }
        }
      }
    },
    created() {
      this.calcStarNum()
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"
  .star
    margin: 0 auto
    .star-item
      display inline-block
    &.star-24
      .star-item
        width 10px
        height 10px
        margin-right 3px
        &:last-child
          margin-right 0
        &.on
          bg-image('star24_on')
        &.half
          bg-image('star24_half')
        &.off
          bg-image('star24_off')
    &.star-36
      .star-item
        width 15px
        height 15px
        margin-right 6px
        &:last-child
          margin-right 0
        &.on
          bg-image('star36_on')
        &.half
          bg-image('star36_half')
        &.off
          bg-image('star36_off')
    &.star-48
      .star-item
        width 20px
        height 20px
        margin-right 20px
        &:last-child
          margin-right 0
        &:first-child
          margin-left -20px
        &.on
          bg-image('star48_on')
        &.half
          bg-image('star48_half')
        &.off
          bg-image('star48_off')
</style>
