<template>
  <div class="title">
    <div class="line"></div>
    <div class="text">{{ _text }}</div>
    <div class="line"></div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    props: {
      _text: {
        type: String
      }
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  .title
    display flex
    margin 38px 0 24px 0
    .line
      display inline-block
      position relative
      top -6px
      border-bottom 1px solid rgba(255,255,255,0.2)
      flex 1
    .text
      display inline-block
      text-align center
      margin 0 12px
</style>
