<template>
  <div class="support" :class="supportType">
    <span class="icon" v-show="_type>=0" :class="classMap[_type]"></span>
    <span class="text" v-text="_name"></span>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    props: {
      _type: {
        type: Number
      },
      _name: {
        type: String
      },
      supportType: {
        type: String
      }
    },
    created() {
      this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee']
//      console.log(this.supportType + ':' + this._type)
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../stylus/mixin.styl"

  .support
    font-size 0
    .icon
      display inline-block
      vertical-align top
      margin-right 2px
    &.support-1
      .icon
        width 12px
        height 12px
        margin-top 1px
        &.decrease
          bg-image("decrease_1")
        &.discount
          bg-image("discount_1")
        &.guarantee
          bg-image("guarantee_1")
        &.special
          bg-image("special_1")
        &.invoice
          bg-image("invoice_1")
      .text
        vertical-align top
        font-size 10px
    &.support-2
      .icon
        width 16px
        height 16px
        &.decrease
          bg-image("decrease_2")
        &.discount
          bg-image("discount_2")
        &.guarantee
          bg-image("guarantee_2")
        &.special
          bg-image("special_2")
        &.invoice
          bg-image("invoice_2")
      .text
        vertical-align top
        font-size 12px
    &.support-3
      .icon
        width 12px
        height 12px
        &.decrease
          bg-image("decrease_3")
        &.discount
          bg-image("discount_3")
        &.guarantee
          bg-image("guarantee_3")
        &.special
          bg-image("special_3")
        &.invoice
          bg-image("invoice_3")
      .text
        vertical-align top
        font-size 10px
    &.support-4
      .icon
        width 16px
        height 16px
        &.decrease
          bg-image("decrease_4")
        &.discount
          bg-image("discount_4")
        &.guarantee
          bg-image("guarantee_4")
        &.special
          bg-image("special_4")
        &.invoice
          bg-image("invoice_4")
      .text
        vertical-align top
        font-size 12px
        line-height 14px

</style>
