<template>
  <transition name="move">
    <div class="spec" v-show="foodShow" ref="specPage">
      <div class="food-content">
        <span class="icon-arrow_lift" @click="close"></span>
        <img class="header-image" :src="food.image"/>
        <div class="food-wrapper">
          <h3 class="foods-name" v-text="food.name"></h3><span class="description" v-show="food.description" v-text="food.description"></span>
          <div class="sellStatus">
            <span class="sellCount">月售{{ food.sellCount }}份</span><span class="rating">好评率{{ food.rating }}%</span>
          </div>
          <div class="all-price">
            <span class="price">{{ food.price }}</span><span v-show="food.oldPrice!=''" class="oldPrice">{{ food.oldPrice}}</span>
          </div>
          <div class="adder-wrapper">
            <v-adder :foods="food"></v-adder>
          </div>
          <div class="add-shopcart" v-show="!food.count || food.count === 0" @click="addFirst($event)">加入购物车</div>
        </div>
        <v-split></v-split>
        <div class="desc-wrapper">
          <h3 class="desc-title">商品介绍</h3>
          <p class="desc-info">{{food.info}}</p>
        </div>
        <v-split></v-split>
        <div class="rating-wrapper">
          <h3 class="rating-title">商品评价</h3>
          <v-ratingSelect :ratings="food.ratings" :desc="desc" @refresh="refreshScroll"></v-ratingSelect>
        </div>
      </div>
    </div>
  </transition>
</template>

<script type="text/ecmascript-6">
  import split from '../split/split.vue'
  import ratingSelect from '../ratingSelect/ratingSelect.vue'
  import Vue from 'vue'
  import BScroll from 'better-scroll'
  import adder from '../adder/adder.vue'

  export default {
    props: {
      food: {
        type: Object
      }
    },
    data() {
      return {
        desc: {
          all: '全部',
          positive: '推荐',
          negative: '吐槽'
        },
        foodShow: false
      }
    },
    methods: {
      show() {
        this.foodShow = true
        this.$nextTick(function() {
          if (!this.Scroll) {
            console.log('生成scroll')
            this.Scroll = new BScroll(this.$refs['specPage'], {
              click: true
            })
          } else {
            console.log('刷新scroll')
            this.Scroll.refresh()
          }
        })
      },
      addFirst(event) {
        if (event._constructed) {
          if (!this.food.count) {
            Vue.set(this.food, 'count', 1)
          } else {
            this.food.count ++
          }
          this.$emit('cart-add', event.target)
        }
      },
      close() {
        this.foodShow = false
      },
      refreshScroll() {
        console.log('刷新scroll')
//        this.Scroll.refresh()
      }
    },
    components: {
      'v-split': split,
      'v-ratingSelect': ratingSelect,
      'v-adder': adder
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"

  .spec
    position: fixed
    width: 100%
    top: 0
    left: 0
    bottom: 48px
    z-index: 8
    background-color: #f3f5f7
    transition: all 0.4s
    transform: translate3d(0, 0, 0)
    &.move-enter, &.move-leave-active
      transform: translate3d(100%, 0, 0)
    .icon-arrow_lift
      position: absolute
      left: 15px
      top: 18px
      font-size: 22px
      color: #f3f5f7
    .header-image
      width: 100%
      height: auto
    .food-wrapper
      position: relative
      padding: 18px
      background-color: #FFF
      .foods-name
        display: inline-block
        margin-right: 14px
        font-size: 14px
        font-weight: 700
      .description
        font-size: 10px
      .sellStatus
        margin-top: 8px
        margin-bottom: 18px
        font-size: 10px
        color: rgb(147, 153 ,159)
        .rating
          margin-left: 12px
      .all-price
        .price
          line-height: 24px
          font-size: 14px
          font-weight: 700
          color: rgb(240, 20, 20)
          &:before
            content: '￥'
            font-size: 10px
            font-weight: normal
            color: rgb(240, 20, 20)
        .oldPrice
          margin-left: 10px
          line-height: 24px
          font-size: 10px
          font-weight: 700
          color: rgb(147, 153, 159)
          text-decoration: line-through
          &:before
            content: '￥'
            font-weight: normal
      .add-shopcart
        position: absolute
        display: inline-block
        width: 84px
        height: 24px
        line-height: 24px
        right: 18px
        bottom: 18px
        font-size: 10px
        text-align: center
        border-radius: 12px
        color: #FFF
        background-color: #00a0dc
        box-sizing: border-box
      .adder-wrapper
        position: absolute
        display: inline-block
        right: 18px
        bottom: 18px
    .desc-wrapper
      position: relative
      padding: 18px
      background-color: #FFF
      .desc-title
        font-size: 14px
      .desc-info
        margin-top: 6px
        margin-left: 8px
        line-height: 24px
        font-size: 12px
        font-weight: 200px
        color: rgb(77, 85, 93)
    .rating-wrapper
      padding: 18px 0
      background-color: #FFF
      .rating-title
        font-size: 14px
        margin: 0 18px 18px 18px

</style>
