<template>
  <div class="rating-select" ref="ratingSelect">
    <div class="rating-type">
      <div class="type-item z-all" @click="showALL($event)" :class="{'z-active':selectType === 2}">{{desc.all}} <span v-text="allCount"></span></div>
      <div class="type-item z-pos" @click="showPOS($event)" :class="{'z-active':selectType === 0}">{{desc.positive}} <span v-text="posCount"></span></div>
      <div class="type-item z-neg" @click="showNEG($event)" :class="{'z-active-black':selectType === 1}">{{desc.negative}} <span v-text="negCount"></span></div>
    </div>
    <div class="switch" @click="onlyShowText($event)">
      <span class="icon-check_circle" :class="{'z-green': onlyContent}"></span><span class="text">只看有内容的评价</span>
    </div>
    <ul class="rating-content" v-if="ratings.length > 0">
      <li class="rating-item"  v-for="rating in ratings" v-show="((selectType===2)||(selectType===rating.rateType)) && ((onlyContent&&rating.text) || !onlyContent)">
        <div class="rating-info">
          <span class="rateTime">{{rating.rateTime}}</span>
          <div class="user">{{rating.username}}<img class="avatar" :src="rating.avatar"/></div>
        </div>
        <div class="rating-text">
          <span class="type-icon" :class="{'icon-thumb_up': !rating.rateType, 'icon-thumb_down': rating.rateType}"></span><p>{{rating.text}}</p>
        </div>
      </li>
    </ul>
    <p v-else>暂无评价内容</p>
  </div>
</template>

<script type="text/ecmascript-6">

  /* eslint-disable no-unused-vars */
  const POSITIVE = 0
  const NEGATIVE = 1
  const ALL = 2
  export default {
    props: {
      ratings: {
        type: Array,
        default() {
          return []
        }
      },
      desc: {
        type: Object,
        default() {
          return {
            add: '全部',
            positive: '满意',
            negative: '不满意'
          }
        }
      }
    },
    data() {
      return {
        selectType: POSITIVE,
        onlyContent: false,
        tempRatings: this.ratings
      }
    },
    methods: {
      showALL(event) {
        this.selectType = ALL
        this.$emit('refresh', event.target)
      },
      showPOS(event) {
        this.selectType = POSITIVE
        this.$emit('refresh', event.target)
      },
      showNEG(event) {
        this.selectType = NEGATIVE
        this.$emit('refresh', event.target)
      },
      onlyShowText(event) {
        this.onlyContent = !this.onlyContent
        this.$emit('refresh', event.target)
      }
    },
    computed: {
      allCount: function() {
        return this.ratings.length
      },
      posCount: function() {
        let count = 0
        this.ratings.forEach(function(rating) {
          if (rating.rateType === POSITIVE) {
            count++
          }
        });
        return count
      },
      negCount: function() {
        let count = 0
        this.ratings.forEach(function(rating) {
          if (rating.rateType === NEGATIVE) {
            count++
          }
        });
        return count
      }
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"

  .rating-select
    font-size: 0
    &>p
      font-size:10px
      margin: 0 18px
      padding: 16px 0
    .rating-type
      border-1px(rgba(7, 17, 27, 0.1))
      margin: 0 18px
      .type-item
        display: inline-block
        padding: 0 12px
        height: 28px
        line-height: 28px
        font-size: 12px
        border-radius: 3px
        margin-bottom: 18px
        margin-right: 8px
        &.z-all, &.z-pos
          background-color: #ccecf8
          color: #59636b
        &.z-neg
          background-color: #e9ebec
          color: #626970
        &.z-active
          background-color: #00a0dc
          color: #FFF
        &.z-active-black
          background-color: #51535d
          color: #FFF
        &>span
          font-size: 8px
    .switch
      border-1px(rgba(7, 17, 27, 0.1))
      padding: 12px 18px
      .icon-check_circle
        line-height: 24px
        margin-right: 4px
        font-size: 24px
        color: #b7bbbf
        vertical-align: top
        &.z-green
          color: #09c855
      .text
        line-height: 24px
        font-size: 12px
        color: #969ca2
        vertical-align: top
    .rating-content
      .rating-item
        margin: 0 18px
        padding: 16px 0
        border-1px(rgba(7, 17, 27, 0.1))
        .rating-info
          .rateTime
            display: inline-block
            line-height: 12px
            font-size: 10px
            color: rgb(147, 153, 159)
          .user
            display: inline-block
            line-height: 12px
            float: right
            font-size: 10px
            color: rgb(147, 153, 159)
            &>img
              width: 12px
              margin-left: 6px
              vertical-align: top
              border-radius: 100%
        .rating-text
          margin-top: 6px
          .type-icon
            display: inline-block
            margin-right: 4px
            font-size: 12px
            line-height: 24px
            &.icon-thumb_up
              color: #00a0dc
            &.icon-thumb_down
              color: #b7bbbf
          &>p
            display: inline-block
            line-height: 16px
            font-size: 12px
            color: rgb(7, 17, 27)
</style>
