<template>
  <div class="adder">
    <transition name="move">
      <div class="remove-wrapper" v-show="foods.count>0" @click.stop.prevent="subCount($event)">
        <span class="icon-remove_circle_outline"></span>
      </div>
    </transition>
    <span class="count" v-show="foods.count>0">{{ foods.count }}</span>
    <span class="icon-add_circle" @click.stop.prevent="addCount($event)"></span>
  </div>
</template>

<script type="text/ecmascript-6">
  import Vue from 'vue'

  export default {
    props: {
      foods: {
        type: Object,
        default() {
          return []
        }
      }
    },
    methods: {
      addCount(event) {
        if (event._constructed) {
          if (!this.foods.count) {
            Vue.set(this.foods, 'count', 1)
          } else {
            this.foods.count ++
          }
          this.$emit('cart-add', event.target)
        }
      },
      subCount(event) {
        if (event._constructed) {
          this.foods.count --
        }
      }
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  .adder
    font-size 0
    .count
      display inline-block
      vertical-align middle
      width 24px
      text-align center
      color rgb(147,153,159)
      font-size 10px
    .remove-wrapper
      display inline-block
      transition all 0.4s linear
      .icon-remove_circle_outline
        display inline-block
        vertical-align middle
        font-size 24px
        color rgb(0, 160, 220)
      &.move-transition
        opacity 1
        transform translate3d(0,0,0)
        .icon-remove_circle_outline
          transform: rotate(0deg)
      &.move-enter, &.move-leave-active
        opacity 0
        transform translate3d(24px,0,0)
        .icon-remove_circle_outline
          transform rotate(180deg)
    .icon-add_circle
      display inline-block
      vertical-align middle
      font-size 24px
      color rgb(0, 160, 220)
</style>
