<template>
  <div class="star" :class="starType">
    <span v-for="itemClass in itemClasses" :class="itemClass" class="star-item"></span>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    props: {
      size: {
        type: Number
      },
      score: {
        type: Number
      }
    },
    data() {
      return {
        itemClasses: []
      }
    },
    computed: {
      starType() {
        return 'star-' + this.size
      }
    },
    methods: {
      showStar() {
//        console.log(this.score)
//        console.log(this.size)
        let i = 0
        while (i++ < 5) {
          if (this.score - i > 0) {
            this.itemClasses.push('onStar')
          } else if (this.score - i > -0.5) {
            this.itemClasses.push('halfStar')
          } else {
            this.itemClasses.push('offStar')
          }
        }
      }
    },
    created() {
      this.showStar()
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../stylus/mixin.styl"

  .star
    font-size 0
    .star-item
      display inline-block
      background-repeat no-repeat
  &.star-48
    .star-item
      width 20px
      height 20px
      margin-right 22px
      &.halfStar
        bg-image('star48_half')
      &.onStar
        bg-image('star48_on')
      &.offStar
        bg-image('star48_off')
  &.star-36
    .star-item
      width 15px
      height 15px
      margin-right 9px
      &.halfStar
        bg-image('star36_half')
      &.onStar
        bg-image('star36_on')
      &.offStar
        bg-image('star36_off')
    &.star-24
      width 10px
      height 10px
      margin-right 3px
      &.halfStar
        bg-image('star24_half')
      &.onStar
        bg-image('star24_on')
      &.offStar
        bg-image('star24_off')

</style>
