<template>
  <div class="header">
    <div class="content-wrapper">
      <div class="avatar">
        <img width="64" height="64" :src="seller.avatar"/>
      </div>
      <div class="content">
        <div class="title">
          <span class="brand"></span>
          <span class="name" v-text="seller.name"></span>
        </div>
        <div class="description">
          {{ seller.description }}/{{ seller.deliveryTime }}分钟送达
        </div>
        <div class="supports" v-if="seller.supports">
          <v-support supportType="support-1" :_type="seller.supports[0].type" :_name="seller.supports[0].description"></v-support>
        </div>
        <div class="support-count" v-if="seller.supports" @click="showDetail">
          <span class="count">{{ seller.supports.length }}个</span>
          <i class="icon-keyboard_arrow_right"></i>
        </div>
      </div>
    </div>
    <div class="bulletin-wrapper">
      <span class="bulletin-title"></span><span class="bulletin-text">{{ seller.bulletin }}</span>
      <i class="icon-keyboard_arrow_right"></i>
    </div>
    <div class="background">
      <img :src="seller.avatar"/>
    </div>
    <transition name="fade">
      <div v-show="detailShow" class="detail">
        <div class="detail-wrapper clearfix">
          <div class="detail-main">
            <h1 class="name">{{ seller.name }}</h1>
            <div class="star-wrapper">
              <v-star v-if="seller.score" :size="48" :score="seller.score"></v-star>
            </div>
            <v-title :_text="'优惠信息'"></v-title>
            <ul class="supports" v-if="seller.supports">
              <li class="item-supports" v-for="item in seller.supports">
                <v-support supportType="support-1" :_type="item.type" :_name="item.description"></v-support>
              </li>
            </ul>
            <v-title :_text="'商家公告'"></v-title>
            <div class="announce">
              {{ seller.bulletin }}
            </div>
          </div>
        </div>
        <div class="detail-close" @click="hideDetail">
          <div class="icon-close"></div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
  import star from '../../common/star/star'
  import title from '../../common/title/title'
  import support from '../../common/support/support'

  export default {
    props: {// 定义props属性去接收seller
      seller: {
        type: Object
      }
    },
    data() {
      return {
        detailShow: false
      }
    },
    created() {
      this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee']
    },
    methods: {
      showDetail() {
        this.detailShow = true
      },
      hideDetail() {
        this.detailShow = false
      }
    },
    components: {
      'v-star': star,
      'v-title': title,
      'v-support': support
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"

  .header
    position relative
    color #FFF
    background rgba(7, 17, 27, 0.5)
    .content-wrapper
      padding 24px 12px 18px 24px
      font-size: 0
      position relative
      .avatar
        display inline-block
        border-radius 2px;
        -webkit-border-radius 2px
        -moz-border-radius 2px
      .content
        display inline-block
        margin-left 16px
        font-size 14px
        .title
          margin 2px 0
          .brand
            display inline-block
            width 30px
            height 18px
            bg-image('brand')
            vertical-align top
          .name
            margin-left 6px
            font-size 16px
            line-height 18px
            font-weight bold
        .description
          margin-bottom 10px
          margin-top 6px
          font-size 12px
        .supports
          margin-bottom 2px
          margin-right 4px
      .support-count
        position absolute
        right 12px
        bottom 18px
        padding 7px 8px
        font-size 0
        background-color rgba(0,0,0,0.2)
        border-radius 14px
        text-align center
        .count
          font-size 10px
          margin-right 2px
        .icon-keyboard_arrow_right
          font-size 10px
    .bulletin-wrapper
      position relative
      height 28px
      line-height 28px
      padding 0 22px 0 12px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      /*font-size 0*/
      background-color rgba(7, 17, 27, 0.2)
      .bulletin-title
        display inline-block
        width 22px
        height 12px
        bg-image('bulletin')
        margin-top 9px
        vertical-align top
      .bulletin-text
        margin 0 4px
        font-size 10px
        vertical-align top
      .icon-keyboard_arrow_right
        display inline-block
        position absolute
        top 9px
        right 12px
        font-size 10px
    .background
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      overflow hidden
      z-index -1
      filter blur(10px)
      &>img
        width 100%
        height auto
    .detail
      position fixed
      z-index 100
      left 0
      top 0
      width 100%
      height 100%
      overflow auto
      background-color rgba(7, 17, 27, 0.8)
      opacity 1
      transition all 0.5s
      &.fade-enter, &.fade-leave-active
        opacity 0
      .detail-wrapper
        min-height 100%
        width 100%
        .detail-main
          margin-top 64px
          padding 0 36px 64px 36px// 包括最底部的close键高度
          .name
            line-height 16px
            font-size 16px
            font-weight 700px
            text-align center
          .star-wrapper
            margin 16px auto 28px auto
            text-align center
          .supports
            margin 0 36px
            padding 0 12px
            .item-supports
              margin-bottom 12px
          .announce
            font-size 12px
            line-height 24px
            padding 0 12px
            margin-bottom 24px
            text-align justify
      .detail-close
        position relative
        width 32px
        height 32px
        margin -64px auto 0 auto
        font-size 32px
</style>
