body, html
  font-weight: 200
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'sans-serif'

.clearfix
  display: inline-block
  &::after
    clear: both
    content: ""
    height: 0
    line-height: 0
    visibility: hidden

@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5)
  .border-1px
    &::after
      transform: scaleY(0.7)
      -webkit-transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2)
  .border-1px
    &::after
      transform: scaleY(0.5)
      -webkit-transform: scaleY(0.5)
