border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ''

bg-image($url)
  background-image url("./"+$url+"@2x.png")
  background-size 100% 100%
  background-repeat no-repeat
  @media (-webkit-min-device-pixel-radio: 3), (min-dervice-pixel-radioL 3)
    background-image url("./"+$url+"@3x.png")
