<template>
  <div>
    <transition name="fade">
      <div class="list-mask" v-show="fold" @click="toggleList"></div>
    </transition>
    <div class="shopcart">
      <div class="content">
        <div class="left-content" @click="toggleList">
          <div class="label" v-show="totalCount>0">{{ totalCount }}</div>
          <div class="logo-wrapper">
            <span class="icon-shopping_cart" :class="{'highlight': totalCount>0}"></span>
          </div>
          <div class="total-price" :class="{'highlight': totalCount>0}">￥{{ totalPrice }}</div>
          <div class="desc">另需配送费{{ desc }}元</div>
        </div>
        <div class="right-content" :class="{'fullPrice': payDesc === '去结算'}" @click="pay"> {{ payDesc }}</div>
      </div>
      <div class="ball-wrapper" v-for="ball in balls">
        <transition name="drop" @before-enter="beforeDropping" @enter="dropping" @after-enter="afterDropping">
          <div class="ball" v-show="ball.show">
            <div class="inner J-ball"></div>
          </div>
        </transition>
      </div>
      <transition name="fold">
        <div class="shopcart-list" v-show="fold">
          <div class="list-header">
            <h1 class="title">购物车</h1>
            <span class="clear" @click="clear">清空</span>
          </div>
          <div class="list-content" ref="list-wrapper">
            <ul>
              <li class="food" v-for="food in selectFoods">
                <span class="name">{{food.name}}</span>
                <v-adder :foods="food"></v-adder>
                <span class="price">{{food.price * food.count}}</span>
              </li>
            </ul>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import BScroll from 'better-scroll'
  import adder from '../adder/adder'

  export default {
    props: {
      selectFoods: {
        type: Array,
        default() {
          return []
        }
      },
      desc: {
        type: Number,
        default: 0
      },
      minPrice: {
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        balls: [
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false},
          {show: false}
        ],
        dropBalls: [],
        fold: 0
      }
    },
    methods: {
      drop(el) {
        for (let i = 0; i < this.balls.length; i++) {
          if (!this.balls[i].show) {
            this.balls[i].show = true
            // 制定小球的输出位置元素
            this.balls[i].el = el
            // 射出的小球放进新的序列
            this.dropBalls.push(this.balls[i])
            break
          }
        }
      },
      _initScroll() {
        this.$nextTick(function() {
          if (!this.listScroll) {
            this.listScroll = new BScroll(this.$refs['list-wrapper'], {
              click: true
            })
          } else {
            this.listScroll.refresh();
          }
        })
      },
      beforeDropping(el) {
        // 因为可能有多个小球同时有动画，因此需要全部遍历小球
        let count = this.balls.length
        while (count--) {
          let ball = this.balls[count]
          if (ball.show) {
//            console.log(el)
            // 获得当前元素视口的位置（是浏览器提供的接口）
            let rect = ball.el.getBoundingClientRect()
            // 动态计算  未射出的小球的初始位置-目标位置  的差值
            let x = rect.left - 32
            let y = -(window.innerHeight - rect.top - 22)
            // 定义x,y轴的平移
            el.style.display = 'block'
            el.style.transform = `translate3d(0,${y}px,0)`
            el.style.webitTransform = `translate3d(0,${y}px,0)`
            let inner = el.getElementsByClassName('J-ball')[0]
            inner.style.transform = `translate3d(${x}px,0,0)`
            inner.style.webitTransform = `translate3d(${x}px,0,0)`
          }
        }
      },
      dropping(el) {
        /* eslint-disable no-unused-vars */
        let rf = el.offsetHeight
        this.$nextTick(() => {
          el.style.transform = 'translate3d(0,0,0)'
          el.style.webitTransform = 'translate3d(0,0,0)'
          let inner = el.getElementsByClassName('J-ball')[0]
          inner.style.transform = `translate3d(0,0,0)`
          inner.style.webitTransform = `translate3d(0,0,0)`
        })
      },
      afterDropping(el) {
//        console.log('end')
        // 每做完一个动画，就将这个球的状态重置
        let ball = this.dropBalls.shift()
        if (ball) {
          ball.show = false
          el.style.display = 'none'
        }
      },
      toggleList() {
        if (this.totalCount) {
          this.fold = !this.fold
        } else {
          this.fold = 0;
        }
      },
      clear() {
        this.fold = 0
        this.selectFoods.forEach(function(food) {
          food.count = 0
        })
      },
      pay() {
        if (this.totalPrice >= this.minPrice) {
          alert(`已支付${this.totalCount}元`)
        }
      }
    },
    computed: {
      totalPrice() {
        let total = 0
        this.selectFoods.forEach((food) => {
          total += food.price * food.count
        })
        return total
      },
      totalCount() {
        let Count = 0
        this.selectFoods.forEach((food) => {
          Count += food.count
        })
        return Count
      },
      diffPrice() {
        return this.minPrice - this.totalPrice
      },
      payDesc() {
        if (this.totalPrice === 0) {
          return `${this.minPrice}元起送`
        } else if (this.totalPrice < this.minPrice) {
          return `还差￥${this.diffPrice}起送`
        } else {
          return '去结算'
        }
      }
    },
    components: {
      'v-adder': adder
    },
    watch: {
      'fold': function() {
        if (this.fold) {
          this._initScroll()
        }
      },
      'totalPrice': function() {
        if (!this.totalPrice) {
          this.fold = 0
        }
      }
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixin.styl"

  .list-mask
    position: fixed
    width: 100%
    height: 100%;
    top: 0
    left: 0
    z-index: 9
    opacity: 1
    background: rgba(7, 27, 27, 0.6)
    backdrop-filter: blur(100px)
    transition: all linear 0.4s
    &.fade-enter, &.fade-leave-active
      opacity: 0
  .shopcart
    position fixed
    bottom 0
    left 0
    width 100%
    height 47px
    font-size 0
    z-index: 10
    .content
      display flex
      .left-content
        display inline-block
        flex 1
        background-color #141d27
        .label
          position absolute
          display inline-block
          width 24px
          left 44px
          top -7px
          line-height 16px
          text-align center
          font-size 9px
          font-weight 700
          color rgb(255, 255, 255)
          background-color rgb(240, 20, 20)
          border-radius 6px
          box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.4)
        .logo-wrapper
          display inline-block
          padding 6px
          margin-top -8px
          margin-left 18px
          border-radius 50%
          background-color #141d27
          .icon-shopping_cart
            display inline-block
            width 44px
            height 44px
            line-height 44px
            text-align center
            font-size 24px
            border-radius 50%
            color rgba(255, 255, 255, 0.4)
            background-color rgba(255, 255, 255, 0.2)
            &.highlight
              background-color rgb(0, 160, 220)
              color rgb(255, 255, 255)
        .total-price
          display inline-block
          margin 11px 0 12px 18px
          padding-right 12px
          font-size 16px
          font-weight 700
          line-height 24px
          color rgba(255, 255, 255, 0.4)
          border-right 1px solid rgba(255, 255, 255, 0.1)
          &.highlight
            color rgb(255, 255, 255)
        .desc
          display: inline-block
          vertical-align: top
          margin: 12px 0 0 12px
          line-height: 24px
          font-size: 10px
          color rgba(255, 255, 255, 0.4)
      .right-content
        display inline-block
        flex 0 0 105px
        line-height 47px
        text-align center
        font-size 14px
        font-weight 700
        color rgba(255, 255, 255, 0.4)
        background-color #2b333b
        &.fullPrice
          color rgb(255, 255, 255)
          background-color #1ca942
    .ball-wrapper
      .ball
        position fixed
        left 32px
        bottom 22px
        z-index 100
        transition all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41)
        .inner
          width 16px
          height 16px
          border-radius 50%
          background-color rgb(0, 160, 220)
          transition all 0.4s linear
    .shopcart-list
      position: absolute
      width: 100%
      top: 0
      left: 0
      z-index: -1
      font-size: 12px
      border-bottom: rgba(7, 17, 27, 0.1)
      transition: all linear 0.4s
      transform: translate3d(0, -100%, 0)
      &.fold-enter, &.fold-leave-active
        transform: translate3d(0, 0, 0)
        background: #F00
      .list-header
        width: 100%
        height: 40px
        background: #f3f5f7
        border-1px(rgba(7, 17, 27, 0.1))
        .title
          display: inline
          margin-left: 18px
          line-height: 40px
          font-size: 14px
          font-weight: 200
          color: rgb(7, 17, 27)
        .clear
          display: inline-block
          margin-right: 18px
          line-height: 40px
          float: right
          font-size: 12px
          color: rgb(0, 160, 220)
      .list-content
        padding:0 18px
        max-height: 240px
        background: #FFF
        overflow: hidden
        .food
          display: block
          padding: 12px 0
          border-1px(rgba(7, 17, 27, 0.1))
          .name
            display: inline-block
            line-height: 24px
            font-size: 14px
            color: rgb(7, 17, 27)
          .price
            display: inline-block
            margin: 0 12px 0 18px
            float: right
            line-height: 24px
            font-size: 14px
            font-weight: 700
            color: rgb(240, 20, 20)
            &:before
              display: inline
              content: '￥'
              font-size: 10px
              font-weight: normal
          &>.adder
            float: right
            line-height: 24px

</style>
